CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7620
CONFIG_FIRMWARE_PRODUCT_ID="TL_EC220_G5-V2"
CONFIG_FIRMWARE_CPU_600MHZ=y
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
CONFIG_FIRMWARE_INCLUDE_ZRAM=y
